doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    - const names = ['dorian', 'Laura', 'maruta', 'carLos']
    - const lists = []
    -
      var person = {
        name: 'Dorian',
        email: 'dorian@email.com'
      }
    - let n = 0

    each name in names
      p= name

    each name in names
      p= `${name.charAt(0).toUpperCase()}`

    each name in names
      p= `${name.substring(1)}`

    each list in lists.length ? lists : ['No lists']
      p= list

    each list in lists
      p= list
    else
      p No lists

    each value in person
      p= value

    each value, key in person
      p= `${key}: ${value}`

    each value, index in names
      p= `${index+1}: ${value}`
