- const name = 'Dorian'
- const numbers = [1, 2, 3, 4, 5]

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(href="style.css", rel="stylesheet")
    style.
      body {
        background-color: rgba(10,10,10,0.2);
      }
  body
    header(style={'background-color': 'blue', 'margin-top': '20px'})
    p hello #{name}
    p hello #{name + 1}
    p hello #{name.toUpperCase()}
    p= `hello ${name}`
    p `hello ${name}`
    p hello ${name}
    ul
      li= numbers[0]
      li= numbers[1]
      li= numbers[2]
      li= numbers[3]
      li= numbers[4]
    script(src="scripts.js")
    script.
      const aleart = () =>{
        aleart('Hello world')
      }
